@import '~vuetify/src/styles/styles.sass';

// 绝对定位的双向居中(需要添加 margin-top/left, 值为组件 高/宽 的 1/2)
@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
}

// 横向排列的 flex 布局
@mixin flexRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* TopBar.vue */
$topBarMinHeight: 70px; // 顶部栏最小高度
$topBarPaddingBtm: 0px; // 顶部栏下边距
$topBarBGColor: #EEEEEE; // 顶部栏背景色

/* Navigator.vue */
$navigatorWidth: 260px; // 导航栏宽度
$navigatorAvatarSpace: 8px; // 导航栏头像的上下边距
$navigatorDividerSpace: 15px; // 导航栏分割线的左右边距
$navigatorItemMarginTop: 10px; // 导航单元上边距

$logOutWidth: 100px; // 登出按钮宽度
$logOutMarginBtm: 26px; // 登出按钮下边距

/* App.vue */
$mainContainerMarginBtm: 40px; // 主容器下边距

/* CompanyInfo.vue */
$comInfoItemMinHeight: 120px; // 公司信息项最小高度

$comInfoListPadding: 20px; // 公司信息列表内边距
$comInfoListHeight: $comInfoListPadding * 2 + $comInfoItemMinHeight * 5; // 公司信息列表高度

$comInfoLoadingRadius: 30px; // 公司信息加载圆环半径

/* RequestHandle.vue */
$imgsDialogWidth: 80%; // 图片弹窗的宽度
$maxTmgsDialogWideth: 900px; // 图片弹窗的最大宽度

$imgsContainerPaddingVertical: 3%; // 包裹图片信息容器的上下边距

$imgCardWidth: 300px; // 图片卡片(包括图片名和图片)的宽度
$imgCardMarginHorizental: 5%; // 图片卡片的左右边距

$imgNameFontSize: 18px; // 图片名的字体大小
$imgNameMarginVertical: 10px; // 图片名的上下边距

$actionDialogTextMarginTop: 10px; // 操作弹窗文字上边距
$actionDialogTextPaddingLeft: 22px; // 操作弹窗文字左边距
$actionDialogTextFontSize: 16px; // 操作弹窗文字大小